main{
    display: flex;
    flex-direction: column;
}

section{
    padding: 0 50px;
    flex: 1;

}

.section1{
    display: flex;
    flex-wrap: wrap;
    margin: auto;  
    margin-top: 150px;
}

.section1 article{
    flex: 3;
}
.section1 figure{
    flex: 1;
}
.section1 figure img{
    width: 350px;
}

.article_title{
    color: #EA2D07;
    text-shadow: 0px 0.7px whitesmoke;
    font-size: 22px;
    padding: 10px 0 10px 0;
    margin-top: 100px;
}

.article_title2{
    color: whitesmoke;
    text-shadow: 0px 0.7px black;
    font-size: 22px;
    padding: 10px 0 10px 0;
    margin-top: 100px;
}

.artile_text{
    font-size: 20px;
    text-align: justify;
}

.flex_column{
    flex-direction: column;
}

.flex_column div{
    align-self: flex-start;
    padding: 5px 10px; 
    
}

.line_temp{
    list-style: none;
}

.line_temp li{
    padding: 10px;
    line-height: 23px;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.568);
    height: 70px;
    margin-bottom: 2px;
}

.line_temp li:hover{
    background-color: black;
    box-shadow: 0px 0.8 #EA2D07;
    color: white;
    text-shadow: 0px 0.8px black;
    cursor: pointer;
}

.section2 {
    background-image: url('../images/bg.jpg');
    background-size: cover; 
    background-repeat: no-repeat;
}

.section2 article figure img{
    margin: auto;  
    margin-top: 50px;
    width: 300px;

}

.line_temp li span{
    font-weight: 800;
}

footer{
    display: flex;
    justify-content: center;
    padding: 20px;
}




